@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito/Nunito-Regular.ttf');
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito/Nunito-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito/Nunito-Italic.ttf');
  font-weight: italic;
}

/* Welcome Page */
.WelcomePage {
  background-color: #b8e0b8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  text-align: center;
  font-family: "Nunito", "Monospace";
}

.Welcome-emoji {
  height: 35vmin;
  pointer-events: none;
}

.Welcome-header {
  font-size: 55px;
  font-weight: bold;
}

@media (prefers-reduced-motion: no-preference) {
  .Welcome-emoji {
    animation: Welcome-emoji-spin infinite 10s linear;
  }
}

@keyframes Welcome-emoji-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.makeButton {
  animation: fadeIn;
  animation-duration: 1s;
  width: 200px;
  height: 70px;
  font-size: 30px;
  font-weight: bold;
  font-family: "Nunito", "Monospace";
  border-color: #2d862d;
  border-radius: 15px;
  cursor: pointer;
}

.makeButton:hover {
  background-color: #ffeb99;
  border-color: #e6b800;
}

.Welcome-quote {
  animation: fadeIn;
  animation-duration: 3s;
  font-family: "Nunito", "Monospace";
  font-size: 16px;
  width: 35%;
  font-style: italic;
}

/* Generator page */
.GeneratorPage {
  font-family: "Nunito", "Monospace";
  background-color: #b8e0b8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  text-align: center;
}

.Generator-inst {
  font-size: 30px;
}

.backButton,
.saveButton {
  font-family: "Nunito", "Monospace";
  width: 200px;
  height: 50px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  border-color: #2d862d;
  border-radius: 15px;
  cursor: pointer;
}

.backButton:hover {
  background-color: #ffeb99;
  border-color: #e6b800;
}

.saveButton:hover {
  background-color: #c1ccff;
  border-color: #3b2fe9;
}

.tip {
  margin-top: 10px;
  font-size: 18px;
}