.Canvas {
    background-color: white;
    border-radius: 25px;
    width: 400px;
    height: 300px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.eye, .mouth, .face, .decorations {
    position: absolute;
}

.eye {
    z-index: 1;
}

.mouth {
    z-index: 1;
}

.face {
    z-index: 0;
}

.decorations {
    z-index: 2;
}