.Canvas {
    background-color: white;
    border-radius: 25px;
    width: 400px;
    height: 300px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.eye, .mouth, .face, .decorations {
    position: absolute;
}

.eye {
    z-index: 2;
}

.mouth {
    z-index: 1;
}

.face {
    z-index: 0;
}

.decorations {
    z-index: 3;
}

/* Tools */
.eye-button, .mouth-button, .face-button, .decorations-button, .random-button {
    width: 110px;
    height: 45px;
    font-size: 15px;
    font-weight: bold;
}